body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.top{
    position: absolute;
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-around;
}
.port{
    font-size: xxx-large;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.img_c{
    margin: 1vh;
    width: 17vh;
}
.btn_top{
    border: none;
    padding: 20px;
    font-size: medium;
    background: transparent;
    color: azure;
    border-radius: 10px;
    font-weight: bold;
    transition: all 1s ease-in-out;
}
#btn_menu{
    padding: 1vh;
    color: white; 
    font-size: 5vh;
    display: none;
}
#btn_menu:hover{
    background: cadetblue;
    border-radius: 50%; 
    cursor:pointer;
}
.menu_modal{
     position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    right: 0;
    transition: all 0.5s ease-in-out;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.btn_top:hover{
    color:rgb(0, 0, 0);
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 17px 4px white;
}
.content{
    height: auto;
    background:repeating-linear-gradient(90deg, #000000, rgb(18, 18, 87)100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
#icon{
    font-size: 9vh;
    width: -webkit-fill-available;
}
.dados{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.info{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}
.dados strong{
    color: #004646;
}
.c_card{
    transition: all 0.7s ease-in-out;
    animation: move 2s;
}
.card_in{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    position: absolute;
    color: rgb(128, 128, 128);
    background-color: rgb(58, 58, 58);
    box-shadow: 9px 9px 20px 1px #000000c4;
}
.card_in strong{
    padding: 2vh;
}
.card_in:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(58, 58, 58, 0.747);
    box-shadow: 9px 9px 20px 1px #000000c4;
}
.background{
    filter: blur(6px);
    height: 100vh;
    width: -webkit-fill-available;
}
.background_sobre{
    height: 69vh;
    width: -webkit-fill-available;
}
.contente_info{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 9px 20px 1px #000000c4;
    border-radius: 20px;
}
.c_card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.info_c{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
}
.bc{
    position: absolute;
    height: 70vh;
    width: -webkit-fill-available;
    display: flex;
    background: linear-gradient(90deg, black, #000000d1, black);
    align-items: center;
    justify-content: center;
}
#habilidades .material-symbols-outlined{
    font-size: 11vh;
    padding: 3vh;
    border-radius: 50%;
    background: #201f1d;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}
#habilidades .material-symbols-outlined:hover{
    transform: translateY(-10px);
}
.tema {
    font-size: 3vh;
    color: #ffffff;
    width: -webkit-fill-available;
    border-bottom: 3px solid #201f1d;
    margin: 3vh;
}
.hb{
    font-size: 11vh;
    padding: 3vh;
    border-radius: 50%;
    background: #201f1d;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}
.if{
    color: #5b6262;
    justify-content: center;
}
.cd{
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card_contato{
    color: aliceblue;
    display: flex;
    margin: 3vh;
    margin-top: 0;
    margin-bottom: 1vh;
}
#Contrate-me{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#Contrate-me .material-symbols-outlined{
    font-size: 4vh;
    padding: 2vh;
    border-radius: 50%;
    background: #201f1d;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    width: fit-content;
}
.ccc{
    display: flex;
    padding: 2vh;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    color: rgb(128, 128, 128);
    background-color:rgb(58 58 58 / 35%);
    box-shadow: 9px 9px 20px 1px #000000c4;
    align-items: center;
    margin: 2vh;
    flex-direction: column;
}
.map{
    border: 0;
    border-radius: 20px;
}
@keyframes move {
    from{
        opacity: 0.2;
        transform: translateX(80px);
        box-shadow: 0px 0px 0px 0px #000000c4;
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        box-shadow: 9px 9px 20px 1px #000000c4;
    }
}
@media (max-width:800px) {
    .card_in{
        margin: 2vh;
    }
    .cd{
        margin: 5vh;
    }
    .c_card{
        margin: 1vh;
    }
    .port{
        font-size: 4vh;
        margin: 2vh;
    }
    .img_c{
        margin: 1vh;
        width: 17vh;
    }
    .map{
        width: -webkit-fill-available;
    }
    .ccc{
        flex-wrap: wrap;
        width: -webkit-fill-available;
        flex-direction: initial;
    }
    .menu{
        display:none;
    }
    #btn_menu{
      display:block;
    }

}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #111154; 
}
::-webkit-scrollbar-thumb{
    background-color: #03a0cf;
    border-radius: 8px;
}
