body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: -webkit-fill-available;
}
.menu{
    display:flex;
}
.imgTop {
    width: 70px;
    min-width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    margin: 5px;
}
.top{
    position: absolute;
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
}
.port{
    font-size: xx-large;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.img_c{
    margin: 1vh;
    width: 17vh;
}
#back{
    height: 50%;
    width: 100%;
}
a{
    text-decoration: none;
}
.btn_top{
    border: none;
    padding: 20px;
    background: transparent;
    font-size: medium;
    color: azure;
    border-radius: 10px;
    font-weight: bold;
    transition: all 1s ease-in-out;
    width: 12vw;
    display: flex;
    align-items: center;
}
#btn_menu{
    padding: 1vh;
    color: white; 
    font-size: 5vh;
    display: none;
    margin: 1vh;
}
#btn_menu:hover{
    background: cadetblue;
    border-radius: 50%; 
    cursor:pointer;
}
#btn_menu_close{
    padding: 1vh;
    color: white; 
    font-size: 5vh;
    margin: 1vh;
}
#btn_menu_close:hover{
    background: cadetblue;
    border-radius: 50%; 
    cursor:pointer;
}
.menu_modal{
    display: flex;
    transition: all 0.5s ease-in-out;
    width: -webkit-fill-available;
    flex-direction: column;
    backdrop-filter: blur(24px);
    border-radius: 6px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.btn_top:hover{
    color:rgb(0, 0, 0);
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 17px 4px white;
}
.content{
    height: auto;
    background:repeating-linear-gradient(90deg, #000000, rgb(48 48 57) 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
#icon{
    font-size: 9vh;
    width: -webkit-fill-available;
    color: #855b5b;
    text-align: end;
}
.dados{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
#inicio{
    backdrop-filter: blur(8px);
}
.info{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}
.dados strong{
    color: #9a9f9f;
}
.c_card{
    transition: all 0.7s ease-in-out;
    animation: move 2s;
    backdrop-filter: blur(8px);
}
.card_in{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    position: absolute;
    color: #ffffff;
    background-color: rgb(58, 58, 58);
    box-shadow: 9px 9px 20px 1px #000000c4;
}
.card_in strong{
    padding: 2vh;
}
.card_in:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(58, 58, 58, 0.747);
    box-shadow: 9px 9px 20px 1px #000000c4;
}
.background{
    filter: blur(6px);
    height: 100vh;
    width: -webkit-fill-available;
}
.background_sobre{
    height: 69vh;
    width: -webkit-fill-available;
}
.contente_info{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 9px 20px 1px #000000c4;
    border-radius: 20px;
    background:linear-gradient(142deg, #161616, #1c1c1c, #283520);
}
.c_card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.info_c{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
}
.bc{
    position: absolute;
    height: 70vh;
    width: -webkit-fill-available;
    display: flex;
    background: linear-gradient(90deg, black, #000000d1, black);
    align-items: center;
    justify-content: center;
}
#habilidades .material-symbols-outlined{
    font-size: 57px;
    padding: 24px;
    border-radius: 50%;
    background: #bf8a1f;
    margin: 1vh;
    box-shadow: 0px 0px 7px 3px #bf8a1fcc;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}
#habilidades .material-symbols-outlined:hover{
    transform: translateY(-10px);
    background: azure;
    color: #bf8a1f;
}
.my-material-s{
    font-size: 21px;
    padding: 38px;
    width: 29px;
    height: 29px;
    display: flex;
    border-radius: 50%;
    background: #bf8a1f;
    margin: 1vh;
    box-shadow: 0px 0px 7px 3px #bf8a1fcc;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.my-material-s:hover{
    transform: translateY(-10px);
    background: azure;
    color: #bf8a1f;
}
.tema {
    font-size: xx-large;
    color: #90a2ff;
    width: -webkit-fill-available;
    border-bottom: 3px solid #201f1d;
    margin: 20px;
    margin-top: 30px;
    font-family: "Bitcount Prop Single", system-ui;
    font-weight: 200;
}
.hb{
    font-size: 11vh;
    padding: 3vh;
    border-radius: 50%;
    background: #201f1d;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}
.if{
    color: #ffffff;
    justify-content: center;
    padding: 20px;
}
.cd{
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}
.card_contato{
    color: aliceblue;
    display: flex;
    margin: 3vh;
    margin-top: 0;
    margin-bottom: 1vh;
}
#Contrate-me{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#Contrate-me .material-symbols-outlined{
    font-size: 27px;
    padding: 14px;
    border-radius: 50%;
    background: #9f8a5f;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    position: absolute;
    top: -31px;
    right: 0;
}
.ccc{
    display: flex;
    padding: 2vh;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    color: rgb(128, 128, 128);
    background-color: rgb(7 7 7 / 35%);
    box-shadow: 0px 0px 4px 0px #000000c4;
    align-items: center;
    margin: 4px;
    flex-direction: column;
    position: relative;
    width: -webkit-fill-available;
}
.map{
    border: 0;
    border-radius: 20px;
}
@keyframes move {
    from{
        opacity: 0.2;
        transform: translateX(80px);
        box-shadow: 0px 0px 0px 0px #000000c4;
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        box-shadow: 9px 9px 20px 1px #000000c4;
    }
}
@media (max-width:800px) {
    .card_in{
        margin: 2vh;
    }
    .cd{
        margin: 5vh;
    }
    .c_card{
        margin: 1vh;
    }
    .port{
        font-size: 4vh;
        margin: 2vh;
    }
    .img_c{
        margin: 1vh;
        width: 17vh;
    }
    .map{
        width: -webkit-fill-available;
    }
    .ccc{
        flex-wrap: wrap;
        width: -webkit-fill-available;
        flex-direction: initial;
    }
    .menu{
        display:none;
    }
    #btn_menu{
      display:block;
    }
    .btn_top {
        width: 48vw;
        margin-bottom: 1vh;
    }

}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #000000; 
}
::-webkit-scrollbar-thumb{
    background-color: #008709;
    border-radius: 8px;
}
